{{ $baseURL := .Site.BaseURL }}

{{ partial "header.html" . }}
<article id='article_{{ replace .Title " " "" }}'>
{{ .Content -}}
{{- range.Pages }}
    {{ $pimg := $.Site.Params.default_pimg }}
    {{ with .Params.pimg }}
        {{ $pimg = . | safeCSS }}
    {{ end }}
    <a class="listing" href='{{ .RelPermalink }}' style='background-image: url("{{ $baseURL }}{{ $pimg }}");'>
        <header class="listing">
            <h3>{{ .Title }}</h3>
        </header>
        <p class="listing">
            {{ .Summary }}
        </p>
        <footer class="listing">
            {{ .Params.author }}, {{ .Date | time.Format ":date_medium" }}
        </footer>
    </a>
{{ end -}}
</article>
{{- partial "footer.html" . }}