{{ partial "header.html" . -}}
<header><h1 id='title_{{ replace .Title " " "" }}'>{{ .Title | title }}</h1></header>
<article id='article_{{ replace .Title " " "" }}'>
{{ .Content -}}
{{- range.Pages }}
    <a class="listing" href='{{ .RelPermalink }}' style='background-color: black; background-image: {{ .Param "pimg" }};'>
        <h3 class="listing">
            {{ .Title }}
        </h3>
        <p class="listing">
            {{ .Summary }}
        </p>
    </a>
{{ end -}}
</article>
{{- partial "footer.html" . }}