{{ $baseURL := .Site.BaseURL }}

:root {
    --bg-color: rgb(68,35,89); /* Pantone 269 */
    --mg-color: rgb(89,17,142); /* Pantone 267 */
    --hg-color: white;
    --fg-color: rgb(229,219,186); /* Pantone 4545 */
    --foot-color: rgb(43,43,40); /* Pantone 426 */
    --navobj-size: max(5vmin, 1cm);
    --navobj-div-width: calc(100vw - var(--navobj-size));
    --vh-postnav: calc(100vh - var(--navobj-size));
}

body {
    background-color: var(--bg-color);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    color: var(--fg-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    border: 0 solid black;
}

article {
    margin: 1em;
}

header.title {
    width: 100vw;
    margin: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.title h1 {
    margin: 1em;
}

footer.page {
    background-color: var(--foot-color);
    margin: auto 0 0 0;
    font-size: 0.75em;
    width: 100vw;
    text-align: center;
    border-top: 1mm solid;
    border-image: linear-gradiant(from top, black, var(--foot-color)) 1;
}

footer.page p {
    margin: 1em;
}

a:link, a:visited {
    color: var(--hg-color);
}

a:active, a:hover {
    color: var(--fg-color);
}

h1, h2, h3 {
    color: var(--hg-color);
}

h1, h2 {
    padding: 0.5em;
    border-bottom: 1mm solid;
}

h1 {
    font-size: 2em;
    border-color: var(--hg-color);
}

h2 {
    font-size: 1.7em;
    border-image: linear-gradient(90deg, var(--fg-color), var(--mg-color)) 1;
}

h3 {
    font-size: 1.3em;
}

main {
    margin: 1vmin;
}

nav {
    display: flex;
    width: 100vw;
    background-color: var(--mg-color);
    background-clip: border-box;
    color: var(--hg-color);
    align-items: center;
}

#navhead {
    display: flex;
    flex-flow: row nowrap;
}

#navhead a {
    margin: 0;
}

.navobj {
    display: flex;
}

.navobj img {
    height: var(--navobj-size);
    width: auto;
    align-self: flex-start;
}

.navobj a:link {
    text-decoration: none;
    text-align: center;
    align-items: center;
}

.navobj a:link, .navobj a:visited {
    color: var(--hg-color);
}

.navobj a:hover {
    color: var(--fg-color);
}

.navobj a:active {
    color: var(--bg-color);
}

a.listing {
    background-color: black;
    background-size: cover;
    background-position: center;
    text-decoration: none;
    text-align: left;
    display: flex;
    flex-flow: column nowrap;
    margin: 1vmin 10vmin;
    border: 2px solid var(--fg-color);
    border-radius: 1vw;
}

a.listing:link, a.listing:visited {
    color: var(--hg-color);
}

header.listing, h3.listing, p.listing, footer.listing {
    margin: 0.5rem;
}

footer.listing {
    font-size: 0.75em;
    text-align: right;
}

#navitems {
    width: var(--navobj-div-width);
}